---
 const personalImageAlt = "Abdullah Fares"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Abdullah but my friends call me abudi. I started 
      programming in the middle of the pandemic learning from hindu Udemy tutorials.
      nowadays i offer<strong
        > tech solutions to businesses and companies </strong
      >.
    </p>

    <p>
      Some of my achievements include <strong
        >mounting a web app for the supply management process 
        in the PDVSA subsidiary, VASSA</strong
      >. Currently the company benefits from faster data processes by 70% and
      less errors in the making of purchase orders by about 80% over their old system.
    </p>

    <p>
      I have experience in diverse technologies such as <strong>React, 
        Angular, Next.js, Django, Flask</strong>. However, I am always
        looking to learn new technologies and adapt to the needs of the
        companies I work with.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

