---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2023-2025",
    title: "Full Stack Engineer",
    company: "Voltinela",
    description:
      "Developed various system web applications for the startup using React, Typescript and Django with DRF, including sales system, inventory tracking, CRM, purchase order management. Integration with OpenAI for chatbots, purchase orders predictions, energy solutions selection depending on the consumption of the client.",
    link: "https://voltinela.com",
  },
    {
    date: "2022-2023",
    title: "Backend Developer",
    company: "MAMUSA Tech",
    description:
      "Designed and developed the backend for a tourism mobile application called FullDay, used Python / Django, PostgreSQL with PostGIS and GeoDjango for Geospatial localization, Redis caching, RabbitMQ, Gunicorn, Celery. Integrated with AWS RDS, Cognito, S3, ElastiCache, AmazonMQ. Vehicle Tracking using Django Channels (WebSockets)",
  },
  {
    date: "2019-2021",
    title: "Principal Full-Stack Engineer",
    company: "PDVSA VASSA",
    description:
      "2 years full time employment at PDVSA where i migrated their old obsolete system apps to modern web apps using React, Django and Postgresql. There i learned a lot about Database normalization and the use of ERM tools since i had to migrate from obsolete bad mantained databases. Also managed the deployment and building of the local servers, using Ubuntu, Apache and Nginx with Redis and Celery for asynchronous work.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
