---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2023-2025",
    title: "Web Developer",
    company: "Voltinela",
    description:
      "The company needed a new website to showcase their products and services and sell them. They need the MVP ASAP, so I developed the website MVP in 2 weeks using WordPress and WooCommerce. Since then, i worked developing more features such as the e-commerce functionality. The company is now selling their products online with custom payment methods from Venezuela using custom-made plugins with PHP and Javascript.",
    link: "https://voltinela.com",
  },
  {
    date: "2019-2021",
    title: "Principal Full-Stack Engineer",
    company: "PDVSA VASSA",
    description:
      "2 years full time employment at PDVSA where i migrated their old obsolete system apps to modern web apps using React, Django and Postgresql. There i learned a lot about Database normalization and the use of ERM tools since i had to migrate from obsolete bad mantained databases. Also managed the deployment and building of the local servers, using Ubuntu, Apache and Nginx with Redis and Celery for asynchronous work.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
