---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2023-2025",
    title: "Full Stack Engineer",
    company: "Voltinela",
    description:
      "Developed various system web applications for the startup using React, Typescript and Django with DRF, including sales system, inventory tracking, CRM, purchase order management. Integration with OpenAI for chatbots, purchase orders predictions, energy solutions selection depending on the consumption of the client.",
    link: "https://voltinela.com",
  },
    {
    date: "2022-2023",
    title: "Backend Developer",
    company: "MAMUSA Tech",
    description:
      "Designed and developed the backend for FullDay, a tourism mobile application, utilizing Python/FastAPI (with Pydantic for data validation), PostgreSQL with PostGIS (via SQLAlchemy/GeoAlchemy2) for geospatial features, Redis for caching, RabbitMQ for message queuing, Uvicorn for serving, and Celery for background tasks. Integrated core backend services with AWS, including RDS (PostgreSQL/PostGIS), Cognito (for authentication), S3 (for storage), ElastiCache (Redis), and Amazon MQ (RabbitMQ). Implemented real-time vehicle tracking functionality leveraging FastAPI's native WebSocket support for efficient bi-directional communication.",
  },
  {
    date: "2019-2021",
    title: "Principal Full-Stack Engineer",
    company: "PDVSA VASSA",
    description:
      "2 years full time employment at PDVSA where i migrated their old obsolete system apps to modern web apps using React, Django and Postgresql. There i learned a lot about Database normalization and the use of ERM tools since i had to migrate from obsolete bad mantained databases. Also managed the deployment and building of the local servers, using Ubuntu, Apache and Nginx with Redis and Celery for asynchronous work.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
